body
{
    width: 100%;
    background-image: url('/static/images/background.png');
    background-size: cover;
    margin-top: 14px;
}

body .body
{
    text-align: start;
    max-width: 1300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.body .content {
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 22px -9px rgba(158,158,158,1);
    -moz-box-shadow: 10px 10px 22px -9px rgba(158,158,158,1);
    box-shadow: 10px 10px 22px -9px rgba(158,158,158,1);
}

body .body #top-banner
{
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-top: 14px;
}

body .body #top-banner
{
    background-image: url('/static/images/title.png');
    background-position: center;
    background-size:cover;
}

body .body #top-banner .top-banner-bottom-buttons
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

body .body #top-banner .top-banner-bottom-buttons div .btn
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-color: #ffffff;
}

body .body #top-banner .top-banner-bottom-buttons div .btn:hover
{
    color: #ffffff;
    background-color: #feb1e4;
    border-color: #feb1e4;
}

body .body #top-banner .top-banner-bottom-buttons div .btn:first-child
{
    border-right: none;
}

body .body #top-banner .top-banner-bottom-buttons div .btn:last-child
{
    border-left: none;
}

body .body #top-banner .top-banner-bottom-buttons .btn.round-right
{
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

body .body #top-banner .top-banner-bottom-buttons .btn.round-left
{
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

body .body #top-banner .banner-border
{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border: dashed 1px #feb1e4;
    pointer-events: none;
}


