body
{
    width: 100%;
    background-image: url('/static/images/background.png');
    background-size: cover;
}

body .body
{
    text-align: start;
    max-width: 1300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

body .body #top-banner
{
    background-image: url('/static/images/title.png');
    background-position: center;
    background-size:cover;
}

body .body #top-banner .top-banner-bottom-buttons
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

body .body #top-banner .top-banner-bottom-buttons div .btn
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-color: #ffffff;
}

body .body #top-banner .top-banner-bottom-buttons div .btn:hover
{
    color: #ffffff;
    background-color: #feb1e4;
    border-color: #feb1e4;
}

body .body #top-banner .top-banner-bottom-buttons div .btn:first-child
{
    border-right: none;
}

body .body #top-banner .top-banner-bottom-buttons div .btn:last-child
{
    border-left: none;
}

body .body #top-banner .top-banner-bottom-buttons .btn.round-right
{
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

body .body #top-banner .top-banner-bottom-buttons .btn.round-left
{
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.c-product-image-section .main-image
{
    width:100%;
}

/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
}

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.login-form {
    margin-top: 60px;
}

.login-form {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 60px;
}
.login-form img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    max-height:64px;
}
.login-form input,
.login-form button {
    font-size: 18px;
    margin: 16px 0;
}
.login-form > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}