@import "../variables";
@import "../mixins";

.c-textbox {
  height: $inputStandardHeight;
  border: 1px solid rgba(lighten($primaryColour, 10%), 0.4);
  font-size: 14px;
  padding-left: $basePadding;
  background-color: $primaryColour;
  color: $textSecondaryColor;
  width: 100%;

  @include transition(border ($baseTransitionTime));

  &:focus {
    border: 2px solid lighten($primaryColour, 10%);
    outline: none;
  }
}

.mce-edit-area {
  min-height: 300px;
}