@import "../variables";
@import "../mixins";

@import "./common";

.c-textbox {
  height: $inputStandardHeight;
  font-size: 14px;
  padding-left: $basePadding;
  background-color: $primaryColour;
  color: $textSecondaryColor;
  width: 100%;

  @include transition(border ($baseTransitionTime));
  @include border();

  &:focus {
    border: 2px solid lighten($primaryColour, 10%);
    outline: none;
  }
}
