$basePadding: 8px;

$inputStandardHeight: 40px;

//Background Colours
$primaryColour: #00263c;
$lightPrimaryColour: lighten($primaryColour, 2%);

$secondaryColour: #3c1600;

$backgroundColour: darken($primaryColour, 1%);

$red: #8d0000;
$green: #13b022;

//Text Colors
$textMainColor: black;
$textSecondaryColor: #cdffc9;

$basePadding: 8px;
$baseTransitionTime: .2s;
$longTransitionTime: .8s;

$textColor: #ecffa3;

$white: #dae0d1;